body{
    margin: 0;
gap:0;
font-family: 'Roboto', sans-serif;


}

h3,p{
   
 margin:0;
  }
  h6{
    margin:0;
    font-size: medium;
    font-weight: 400;

  }
  a{
      text-decoration: none;
      color: black;
    }

   